#JWT
JWT_SECRET=myverylongsecretkeyatleast256bitslong
JWT_EXPIRATION=86400000

#postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-chess:5432/chess

#redis
REDIS_HOST=redis-chess
REDIS_PORT=6379
